<ion-header>
  <ion-toolbar color="white" mode="ios">
    <ion-title>Request premium access</ion-title>
	 <ion-buttons slot="start">
	  <ion-back-button color="primary" class="ion-float-left header">
		</ion-back-button>
		
		</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
		<ion-card color = "white">
	<ion-card color = "white">
	<ion-card-header style ="color: #294a70; " class = "ion-text-center ion-text-justify"><h1>WTS Tutoring Banking Details</h1></ion-card-header>
	<h4 style ="color: #000;" class = "ion-text-center ion-text-justify ion-text-wrap ion-padding">
	Premium access: R200.00 per term <br>
	Bank: FNB <br>
	Account number:  62839550193 <br>
	Account Holder: WTS Tutoring <br>
	Reference: Name & Surname <br>
	
	NB: After requesting with your reference also send proof to <br>
	076 453 5661
	</h4>
	</ion-card>
	<ion-item color="white">
				<ion-input color = "primary" type="text" placeholder="Reference" [(ngModel)] = "comment"></ion-input>
	</ion-item>
	<ion-button class="ion-float-center"  color="success" (click)="request()">Send Request</ion-button>

	</ion-card>
	
</ion-content>
