<ion-header>
  <ion-toolbar>
    <ion-title>tutorial</ion-title>
	<ion-buttons slot="start">
	  <ion-back-button color="primary" class="ion-float-left header">
		</ion-back-button>
		
		</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-button (click) ="getPdf()">
		Course material
	</ion-button>
	<ion-button (click) ="save()">
		Save
	</ion-button>
	
	<ion-grid>
		<ion-row *ngFor = "let item of tutorialPics">
			<ion-col   col-12>

			<ion-card color = "white"  class = "over" (click) = "openpdf(item)">
				<ion-card-header style = "background-color: #fff">

				</ion-card-header >
				<h1>Open PDF</h1>

				<ion-card-content  style = "background-color: #fff">
					
				</ion-card-content>
					   

			</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
