<ion-header>
  <ion-toolbar>
    <ion-title>tutorial</ion-title>
	
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-button (click) ="getImages()">
		Upload tutorial picture
	</ion-button>
	<ion-button (click) ="save()">
		Save
	</ion-button>
	
	<ion-grid>
		<ion-row *ngFor = "let item of tutorialPics">
			<ion-col   col-12>

			<ion-card color = "white"  class = "over" >
				<ion-card-header style = "background-color: #fff">

				</ion-card-header >
				<img src={{item}} >

				<ion-card-content  style = "background-color: #fff">
					
				</ion-card-content>
					   

			</ion-card>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
