<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card class = "card">
		<ion-card-header>
			Login
		</ion-card-header>
		<ion-card-content>
			<ion-list style="background-color: rgba(0,0,0,0);" no-lines>
			<div class ="spacer" style="height: 10px;"></div>
			<ion-item>
				<ion-input type="email" placeholder="Email" [(ngModel)] = "email"></ion-input>
			</ion-item>
			<div class ="spacer" style="height: 10px;"></div>
			<ion-item>
				<ion-input type="password" placeholder="Password" [(ngModel)] = "password1"></ion-input>
			</ion-item>
			<div class ="spacer" style="height: 10px;"></div>
			<ion-item>
				<ion-input type="password" placeholder="confirm password" [(ngModel)] = "password2"></ion-input>
			</ion-item>
			
			<div class ="spacer" style="height: 10px;"></div>
			<ion-button block outline round color="light" (click)="register()">Register</ion-button>
			
			</ion-list>
		</ion-card-content>
	</ion-card>
</ion-content>
