<ion-header>
  <ion-toolbar color="white" mode="ios">
    <ion-title color = "primary" class="ion-float-center header" >View lesson<ion-icon color = "primary" name="easel-outline"></ion-icon></ion-title>
	
	 <ion-buttons slot="start">
	  <ion-back-button color="primary" class="ion-float-left header">
		</ion-back-button>
		
		</ion-buttons>
		<ion-buttons slot="end">
	  <ion-button routerLink="/viewtutorial" routerDirection="forward" color="primary" class="ion-float-right header">
		Tutorial pages
		</ion-button>
		
		</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div (click) = "playVideoHosted()" style="width: 100%; height: 30%;">
<video [disabled]="true" controls poster="{{onlineLes.slides[0]}}" style="width: 100%; height: 100%;" >
  <source src="{{videoles}}" type="video/mp4">
  Your browser does not support the video tag.
</video>
</div>

			
			<ion-card color = "white"  class = "card"  *ngFor = "let item of onlineLes.slides ">
				
				

				
				<ion-card-content  style = "background-color: #fff">
					<img src={{item}} >

				</ion-card-content>
					   

			</ion-card>
		
</ion-content>
