<ion-header>
  <ion-toolbar color="white" mode="ios">
    <ion-title class="ion-float-center header" >{{onlineLes.lessonName}} <ion-icon color = "secondary" name="easel-outline"></ion-icon></ion-title>
	
	 <ion-buttons slot="start">
	  <ion-back-button color="primary" class="ion-float-left header">
		</ion-back-button>
		
		</ion-buttons>
		<ion-buttons  slot="end">
	  <ion-button  routerLink="/viewtutorial" routerDirection="forward"  class="ion-float-right header">
		<ion-icon slot = "end" name="document-text-outline"></ion-icon>
		</ion-button>
		
		</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="back">
			<ion-toolbar style="color: #294a70;">
				<h5 class="ion-float-center">Click play to watch video lesson</h5>
			</ion-toolbar>
			<div class="videoContainer" (click)="playVideoHosted()">
				<img class ="play" src="{{onlineLes.slides[0]}}">
			</div>


			
			<ion-card   class = "card"  *ngFor = "let item of onlineLes.slides ">
				
				

				
				<ion-card-content  style = "background-color: #fff">
					<img src={{item}} >

				</ion-card-content>
					   

			</ion-card>
		
</ion-content>
