<ion-header>
  <ion-toolbar color="white" mode="ios">
    <ion-title color = "primary" class="ion-float-center header" >Online Lessons  <ion-icon color = "primary" name="easel-outline"></ion-icon></ion-title>
		<ion-button  class="headerButton"   fill="clear" size="default" routerLink="/dashboard" routerDirection="forward" right>
</ion-button>
	 <ion-buttons slot="start">
	  <ion-back-button color="primary" class=" header">
		</ion-back-button>
			
		</ion-buttons> 
<ion-avatar (click)="navigateEdit()" class="ion-float-right">
		<img src="{{proPic}}" alt="Unable to load Image." >
	</ion-avatar>
  </ion-toolbar>
</ion-header>

<ion-content>
	
	
	<ion-toolbar class="toolb">
	<ion-grid class="toolb">
	<ion-row class="toolb">
	<ion-col size="8" class="toolb">
	<ion-item  class="slideInRight toolb">
        <ion-label>Subject</ion-label>
		
        <ion-select  [(ngModel)]="sub" (ionChange)="selectSubject($event)" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="All Subjects">
          <ion-select-option value="All">All</ion-select-option>
          <ion-select-option value="Mathematics">Mathematics</ion-select-option>
          <ion-select-option value="Math Literacy">Math Literacy</ion-select-option>
          <ion-select-option value="Life Science">Life Science</ion-select-option>
          <ion-select-option value="Accounting">Accounting</ion-select-option>
          <ion-select-option value="Economics">Economics</ion-select-option>
          <ion-select-option value="Geography">Geography</ion-select-option>
          </ion-select>
		   </ion-item>
	
	  </ion-col>
	  <ion-col size="4">
		 <ion-item  class="slideInLeft toolb">
			<ion-label>Grade</ion-label>
		   <ion-select  [(ngModel)]="grd" (ionChange)="selectGrade($event)" [interfaceOptions]="customPopoverOptions" interface="popover" placeholder="All Grades">
          <ion-select-option value="0">All</ion-select-option>
          <ion-select-option value="12">12</ion-select-option>
          <ion-select-option value="11">11</ion-select-option>
          <ion-select-option value="10">10</ion-select-option>
          <ion-select-option value="9">9</ion-select-option>
 
          </ion-select>
      </ion-item>
		   </ion-col>
		   </ion-row>
		   </ion-grid>
  </ion-toolbar>
		
			<ion-card style="z-index: 2;position:relative;background-color: rgba(0,0,0,0);"    >
			<ion-card   class = "card slideInUp" *ngFor = "let item of currentLessons ">
				<ion-card-header class="headerCard" style="border-radius: 100px;">
					<ion-grid style="border-radius: 100px;">
					<ion-row style="border-radius: 200px;" baseline>
					<ion-col size="4" style="background-color: rgba(255,255,255,0);color: #fff;">
					
					<p >Subject: {{item.Subject}}</p>
					</ion-col>
					<ion-col size="4" style="font-size: 20px;text-align: center;background-color: rgba(0,0,0,1);color: #fff;">
					<p>{{item.lessonName}}</p>
					</ion-col>
					<ion-col size="4" style="text-align: center;background-color: rgba(255,255,255,0);color: #fff;">
					<p >Grade: {{item.Grade}}</p>
					</ion-col>
					</ion-row>
					</ion-grid>
					
				</ion-card-header >

				<ion-card-content>
					<img src={{item.slides[0]}} (click)="viewLesson(item)">

				</ion-card-content>
				</ion-card>   
				<div class="vertline">
				</div>
			</ion-card>
			
	
</ion-content>
