<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class ="ion-float-left">
      WTS tutors:= {{les.lessonName}}
	
    </ion-title>
	<ion-buttons slot = "end">
	  <ion-button class ="ion-float-right" routerLink="/dashboard" routerDirection="forward" right>
	Home
	</ion-button>
	</ion-buttons>
	
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [forceOverscroll] = "false">
 
	
	<div id="canvasContainer">
	<canvas #imageCanvas (touchstart)="handleStart($event)" (mousedown) = "handleStart($event)" (touchmove)="handleMove($event)" (mousemove) = "handleMove($event)" (touchend) = "handleEnd($event)" (mouseup) = "handleEnd($event)" ></canvas>
	</div>
	<ion-toolbar id="top-toolbar" ion-fixed>
	<ion-button routerLink="/slides" routerDirection="forward" right>
	Slides
	</ion-button>
	
	<ion-button color="success" (click) = "saveCanvasImage()" right>
	save <ion-icon name="checkmark-done-outline"></ion-icon>
	</ion-button>
	
	<ion-button color="danger"  (click) = "doundo()" right>
	Undo
	</ion-button>
	<ion-row>
		<ion-col *ngFor = "let color of colors " [style.background] = "color" class="color-block" tappable (click) = "selectColor(color)">
		</ion-col>
	</ion-row>
	<ion-radio-group [(ngModel)] = "currentColor">
		<ion-row>
			<ion-col *ngFor = "let color of colors">
				<ion-radio [value] = "color"></ion-radio>
			</ion-col>
		</ion-row>
	</ion-radio-group>
	
	<ion-range min="1" max="50" color = "primary" [(ngModel)] = "lineWidth">
		<ion-icon size="small" slot = "start" name="brush"></ion-icon>
		<ion-icon slot = "end" name="brush"></ion-icon>
		
	</ion-range>
	</ion-toolbar>
</ion-content>

