<ion-header>
  <ion-toolbar color="white" mode="ios">
    <ion-title color = "primary" class="ion-float-center header" >Dashboard  <ion-icon color = "secondary" name="easel-outline"></ion-icon></ion-title>
	 <ion-buttons  slot="end">
	<ion-button  class="headerButton"  color="secondary"  fill="clear" size="default" routerLink="/cloudlessons" routerDirection="forward" right>
	Online
	</ion-button>
	 </ion-buttons>
	 <ion-buttons slot="start">
	  <ion-back-button color="secondary" class="ion-float-center header">
		</ion-back-button>
		</ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="backgound-color: #fff;">

<ion-progress-bar [value] = "uploadProgress" color = "secondary">
</ion-progress-bar>
<ion-refresher slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200">
<ion-refresher-content>
    
    </ion-refresher-content>
  </ion-refresher>
			<ion-card   class = "card slideInUp" *ngFor = "let item of lessons" >
				<ion-card-header color="white">
					
					<h1 id ="lessonName" class="ion-float-left">{{item.lessonName}} ~  </h1>
					<h1 id ="lessonName" class="ion-float-left">  {{item.Subject}} ~ </h1>
					<h1 id ="lessonName" class="ion-float-left">  {{item.Grade}}  </h1>
					
				<ion-button class="ion-float-right" color="primary"  large  expand="block" shape="round" (click)="options(item)" ><ion-icon color = "secondary" name="options"></ion-icon></ion-button>
			
				</ion-card-header >
				<img class=""(click)="load(item)" routerLink="/chalkboard" routerDirection="forward" src={{item.slides[0]}} >

				<ion-card-content>
					
				</ion-card-content>
					   

			</ion-card>
			
	

	
	<ion-fab color = "secondary" right vertical="bottom" horizontal="end" slot="fixed" class="my-icon ">
		<ion-fab-button routerLink="/lessontype" routerDirection="forward" ion-fab color="black"><ion-icon color="primary" name="create"></ion-icon>
		</ion-fab-button>
	
		
		
	</ion-fab>
	
	
  
</ion-content>
