<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      WTS tutors
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [forceOverscroll] = "false">
 
	
 
	<canvas #imageCanvas (touchstart)="handleStart($event)" (mousedown) = "handleStart($event)" (touchmove)="handleMove($event)" (mousemove) = "handleMove($event)" (touchend) = "handleEnd($event)" (mouseup) = "handleEnd($event)" ></canvas>
	<ion-toolbar id="top-toolbar" ion-fixed>
	<ion-row>
		<ion-col *ngFor = "let color of colors " [style.background] = "color" class="color-block" tappable (click) = "selectColor(color)">
		</ion-col>
	</ion-row>
	<ion-radio-group [(ngModel)] = "currentColor">
		<ion-row>
			<ion-col *ngFor = "let color of colors">
				<ion-radio [value] = "color"></ion-radio>
			</ion-col>
		</ion-row>
	</ion-radio-group>
	
	<ion-range min="1" max="50" color = "primary" [(ngModel)] = "lineWidth">
		<ion-icon size="small" slot = "start" name="brush"></ion-icon>
		<ion-icon slot = "end" name="brush"></ion-icon>
		
	</ion-range>
	</ion-toolbar>
</ion-content>
