
canvas{
	
	
	border: 1px solid rgba(255,0,255);
	top: 0%;
		 position: fixed;
		 
}

.color-block{
	height: 30px;
	bottom: 0%;
}

#top-toolbar{
        position: fixed;
		min-height: 3%;
        bottom: 0%;
    }