<ion-header>
  <ion-toolbar color = "white" mode="ios">
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card color="white">
		<img class = "ion-float-centre" src="https://firebasestorage.googleapis.com/v0/b/wtstutors.appspot.com/o/mrsib.jpeg?alt=media&token=ac0397df-39f6-4b7f-8c59-981fdc86a103">
	</ion-card>
	<ion-card color = "white">
	<ion-card color = "white">
	<ion-card-header style ="color: #294a70;" class = "ion-text-center ion-text-justify">Background</ion-card-header>
	<p style ="color: #000;" class = "ion-text-center ion-text-justify ion-text-wrap ion-padding">
		This project began in 2011 witnessing difficulties facing learners in Maths and Science. Many learners fear these subjects, therefore found it extremely challenging to understand. It is very hard to master anything you fear!

Mr. Khangelani Sibiya aka KWV Sibiya designed a teaching method that will be easy to the learners to understand and relate to Maths & Science. He infused learner’s lifestyle into the lessons. In other words he used latest social trends to illustrate Science and Maths.

This method has helped to redeem Maths and Science from a “Monster” status into subjects that are fun to learn.
	</p>
	</ion-card>
	<ion-card color = "white">
	<ion-card-header style ="color: #294a70;" class = "ion-text-center ion-text-justify">Vision</ion-card-header>
	<p style ="color: #000;" class = "ion-text-center ion-text-justify ion-text-wrap ion-padding">
	To create a majority of learners who will master Maths and Science around the country
	</p>
	</ion-card>
	<ion-card color = "white">
	<ion-card-header style ="color: #294a70;" class = "ion-text-center ion-text-justify">Mission</ion-card-header>
	<p style ="color: #000;" class = "ion-text-center ion-text-justify ion-text-wrap ion-padding">
		We want to build Maths and Science Centers that will use KWV teaching style to teach in every Township-Rural community.
		</p>
		</ion-card>
		<ion-card color = "white">
	<ion-card-header style ="color: #294a70;" class = "ion-text-center ion-text-justify">Mission</ion-card-header>
	<p style ="color: #000;" class = "ion-text-center ion-text-justify ion-text-wrap ion-padding">
		* To have functioning Maths and Science Centers around Richard’s Bay <br>
         * Register a finishing school <br>
		* Create Maths and Science texbooks with the teaching method used by Mr. KWV <br>
		* To reach every learners across the country <br>
		* Train and equip other educators to apply this teaching method in their classroom <br>
		</p>
		</ion-card>
		</ion-card>
</ion-content>
